@charset "utf-8";

.brex-post-photo { overflow:hidden; line-height:20px; }
.brex-post-photo .txt-normal { letter-spacing:0; }
.brex-post-photo .txt-short { letter-spacing:-1px; padding-right:1px; }
.brex-post-photo .post-vicon { position:absolute; left:6px; top:6px; color: #fff; font-size:20px; z-index:1; text-shadow: 1px 1px 1px #000; }
.brex-post-photo .post-none { padding:50px 10px; text-align:center; color:#888; }
.brex-post-photo .post-row { float:left; overflow:hidden; }
.brex-post-photo .post-list { overflow:hidden; }
.brex-post-photo .post-list:hover { }
.brex-post-photo .post-image { position:relative; overflow:hidden; }
.brex-post-photo .post-content { padding-top:5px; margin:-2px 0px; overflow:hidden; }
.brex-post-photo .post-subject { letter-spacing:-1px; line-height:14px; }
.brex-post-photo .post-sp { color:#ccc; margin:0px 4px; }
.brex-post-photo .post-text { color:#888; padding-top:4px; }
.is-pc .ko .brex-post-photo .post-ko { font-size:11px; }
