@charset "utf-8";

.brex-tags { padding:7px 0px; line-height:22px; height:42px; overflow:hidden; text-align:center; }
.brex-tags .hash { font-size:15px; display:inline-block; letter-spacing:-1px; padding:3px 7px; border-radius:5px; background:#333333; }
.brex-tags .hash a { color:#fff; }
.brex-tags .hash { margin-left:3px; }
.brex-tags .hash:first-child { margin-left:0px; }
