@charset "utf-8";

/********************************************************
■ Basic : 기본
********************************************************/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,300,500,500italic,700,900,400italic,700italic');
@import url('//fonts.googleapis.com/earlyaccess/nanumgothic.css'); 

body { font-family: dotum; line-height: 22px; font-size: 14px; color: rgb(51, 51, 51); background-color:#fff; background-repeat: no-repeat; background-attachment:fixed; background-size:cover; }
body.is-pc .ko { font-size:12px; }
a { color: rgb(51, 51, 51); cursor: pointer; text-decoration: none; }
a:hover, a:focus, a:active { color: #333333; text-decoration: none; }
fieldset legend { display:none; }
label { font-weight:normal; }
label.checkbox, label.radio { line-height:12px; font-size: 12px; font-weight: normal; cursor: pointer; }
hr { margin-top: 20px; margin-bottom:20px; border:0; border-top:1px solid #eee; display:block; }
blockquote { font-size: 12px; margin:0px 0px 20px; }
.en, h1, h2, h3, h4, h5, h1 a, h2 a, h3 a, h4 a, h5 a { font-family: 'Nanum Gothic', Sans-Serif; }
.ko, .ko small { font-family: 'Nanum Gothic', sans-serif; }
.sns-share-icon img { width:20%; max-width:34px; border-radius:50%; }
.bold { font-weight:bold; }

/********************************************************
■ Layout : 레이아웃
********************************************************/
.wrapper { margin:0 auto; background: #fff; }
.at-container { margin:0px auto; padding:0px; }
.is-pc .at-body { min-height:600px; }
.at-body .at-container { padding:10px 0px; overflow:hidden; }
.boxed.wrapper .at-body .at-container { padding:0px; }
.at-content { position:relative; padding:20px 0px; }
.at-row { margin-left:-15px; margin-right:-15px; }
.at-col { position:relative; padding-left:15px; padding-right:15px; padding-top:10px; padding-bottom:10px; }
.nav-fixed .at-menu { width:100%; z-index:10; left:0px; }
@media all and (max-width:991px) {
	.responsive .wrapper { background: rgb(230, 231, 233); }
	.responsive .at-body .at-container { padding:0px 0px; }
	.responsive .at-body .at-row { margin-left:0px; margin-right:0px; }
	.responsive .at-body .at-col { padding-left:0px; padding-right:0px; }
	.responsive .pull-right.at-main,
	.responsive .pull-left.at-side { float:none !important; }

}

/********************************************************
■ LNB : 최상단의 즐겨찾기, RSS, 로그인, 회원가입 영역
********************************************************/
.at-lnb { font-size:12px; background:#f6f6f6; border-bottom:1px solid #ddd; }
.en .at-lnb { font-size:12px; }
.at-lnb ul { list-style: none; margin: 0px; padding:0px; }
.at-lnb ul > li { float: left; padding: 5px 10px; border-right:1px solid #ddd; }
.at-lnb ul > li:last-child { }
.at-lnb .pull-left > ul > li:first-child { padding-left:0px; }
.at-lnb .pull-left > ul > li:last-child { border-right:0px; }
.at-lnb ul > li > a { color: #333; float:left; }
@media all and (max-width:991px) {
	.responsive .at-lnb .at-container { display:none; visibility:visible; }
}

/********************************************************
■ SUB LNB : 최상단의 즐겨찾기, RSS, 로그인, 회원가입 영역
********************************************************/
.sub-lnb { }
.en .sub-lnb { font-size:11px; }
.sub-lnb ul { list-style: none; margin: 0px; padding:2px 0px 5px; }
.sub-lnb ul > li { float: left; padding: 0px 7px; }
.sub-lnb ul > li > a { color: #333; float:left; font-size:11px; }
.sub-lnb .pull-left ul > li:first-child { padding-left:0px; }
.sub-lnb .pull-right ul > li:last-child { padding-right:0px; }
@media all and (max-width:991px) {
	.responsive .sub-lnb .at-container { display:none; visibility:visible; }
}

/********************************************************
■ PC Header : PC 헤더 
********************************************************/
.pc-header { padding:10px 0px; text-align:left; border-bottom:1px solid #ddd; }
.pc-header .at-container { padding:0px; }
.pc-header .header-logo { display:inline-block; vertical-align:middle; padding:0px; padding-right:15px; padding-top:15px; }
.pc-header .header-logo a { font-size:44px; line-height:44px; font-family: "Helvetica", sans-serif; font-weight:bold; color:#333; }
.pc-header .header-logo a:hover { color:#333; }
.pc-header .header-logo img { display:block; max-width:100%; max-height:60px; }
.pc-header .header-search { display:inline-block; width:360px; vertical-align:middle; padding-top:15px; }
.pc-header .header-search form { padding:0px; margin-top:0px; height:44px; border:1px solid #333; background: #fff; }
.pc-header .header-search input { background: #fff; box-shadow:none; height:40px; border:0px solid #e52e02; font-size:16px; font-weight:bold; padding:0px 10px; }
.pc-header .header-search .btn { color:#333 !important; font-size:15px; padding:0px 12px; background: #fff !important; }
.pc-header .header-search .input-group-btn > .btn { margin-left:0px !important; }
.pc-header .header-keyword { display:inline-block; vertical-align:middle; padding-top:15px; padding-left:15px; }
.pc-header .header-ad { float:right; }
@media all and (max-width:991px) {
	.responsive .pc-header { display:none; }
}

/********************************************************
■ PC Header : PC 헤더 
********************************************************/
.shop-header { padding:10px 0px 20px; text-align:left; border-bottom:1px solid #ddd; }
.shop-header .at-container { padding:0px; }
.shop-header .header-logo { display:inline-block; vertical-align:middle; padding:0px; padding-right:15px; padding-top:15px; }
.shop-header .header-logo a { font-size:44px; line-height:44px; font-family: "Helvetica", sans-serif; font-weight:bold; color:#333; }
.shop-header .header-logo a:hover { color:#333; }
.shop-header .header-logo img { display:block; max-width:100%; max-height:60px; }
.shop-header .header-search { float:right; display:inline-block; width:240px; vertical-align:middle; padding-top:15px; }
.shop-header .header-search form { padding:0px; margin-top:0px; height:36px; border:1px solid #333; background: #fff; }
.shop-header .header-search input { background: #fff; box-shadow:none; height:32px; border:0px solid #e52e02; font-size:16px; font-weight:bold; padding:0px 10px; }
.shop-header .header-search .btn { color:#333 !important; font-size:15px; padding:0px 12px; background: #fff !important; }
.shop-header .header-search .input-group-btn > .btn { margin-left:0px !important; }
.shop-header .header-keyword { display:inline-block; vertical-align:middle; padding-top:15px; padding-left:15px; }
@media all and (max-width:991px) {
	.responsive .shop-header { display:none; }
}

/********************************************************
■ SUB Header : SUB 헤더 
********************************************************/
.sub-header { padding:0px; text-align:left; background:#333333; }
.sub-header .at-container { padding:0px; }
.sub-header .header-control { padding:13px 0px; }
.sub-header .header-logo { display:inline-block; vertical-align:middle; padding-top:4px; padding-right:15px; }
.sub-header .header-logo a { font-size:28px; line-height:28px; font-family: "Helvetica", sans-serif; font-weight:bold; color:#fff; }
.sub-header .header-logo a:hover { color:#fff; }
.sub-header .header-logo img { display:block; max-width:100%; max-height:60px; }
.sub-header .header-search { display:inline-block; width:480px; vertical-align:middle; }
.sub-header .header-search form { padding:0px; margin-top:0px; height:36px; border:2px solid #fff; background: #fff; }
.sub-header .header-search input { background: #fff; box-shadow:none; height:34px; border:0px solid #e52e02; font-size:16px; font-weight:bold; padding:0px 10px; }
.sub-header .header-search .btn { color:#333333 !important; font-size:15px; padding:0px 12px; background: #fff !important; }
.sub-header .header-search .input-group-btn > .btn { margin-left:0px !important; }
.sub-header .header-right { }
.sub-header .header-right ul { padding:0; margin:0; list-style:none; }
.sub-header .header-right ul > li { float:left; padding:0 20px; border-right:1px solid #52b036; font-size:16px; }
.sub-header .header-right ul > li:first-child { border-left:1px solid #52b036; }
.sub-header .header-right ul > li > a { color:#fff; line-height:62px; }
.sub-header .header-right img { margin-left:0px; }
.sub-header .header-right .header-right-icon { font-size:16px; color:#fff; }
.sub-header .header-right .header-right-icon .btn { padding:0px; margin:0px; }
.sub-header .header-keyword { padding-top:4px; }
.en .sub-header .header-keyword { font-size:12px; }
@media all and (max-width:991px) {
	.responsive .sub-header { display:none; }
}

/********************************************************
■ S Header : SUB 헤더 
********************************************************/
.s-header { padding:0px; text-align:left; border-top:2px solid #333333; }
.s-header .at-container { padding:30px 0px;  }
.s-header .header-logo { display:inline-block; vertical-align:middle; padding:0px; padding-right:15px; }
.s-header .header-logo a { font-size:32px; line-height:32px; font-family: "Helvetica", sans-serif; font-weight:bold; color:#333333; }
.s-header .header-logo a:hover { color:#333333; }
.s-header .header-logo img { display:block; max-width:100%; max-height:60px; }
.s-header .header-search { display:inline-block; width:480px; vertical-align:middle; }
.s-header .header-search form { padding:0px; margin-top:0px; height:44px; border:2px solid #333333; background: #333333; }
.s-header .header-search input { background: #fff; box-shadow:none; height:40px; border:0px solid #e52e02; font-size:16px; font-weight:bold; padding:0px 10px; }
.s-header .header-search .btn { color:#fff !important; font-size:15px; padding:0px 12px; background: #333333 !important; }
.s-header .header-search .input-group-btn > .btn { margin-left:0px !important; }
.s-header .header-right { padding-top:10px; }
.s-header .header-right img { margin-left:15px; }
.s-header .header-right .btn { padding:1px 3px; border:1px solid #ddd; border-radius:0px; }
.s-header .header-keyword { padding-top:4px; }
.en .s-header .header-keyword { font-size:12px; }
@media all and (max-width:991px) {
	.responsive .s-header { display:none; }
}
/********************************************************
■ Mobile Header : 모바일 헤더 
********************************************************/
.m-header { display:none; background: #fff; margin-top:-1px; border-bottom:1px solid #ddd; }
.m-header a { color:#333333; font-family:"Helvetica", sans-serif; font-weight:bold; }
.m-header .at-container { padding:0px; padding-top:5px; }
.m-header .header-wrap { display:table; width:100%; table-layout:fixed; margin:0px; min-width:300px; border-collapse: collapse; }
.m-header .header-icon, 
.m-header .header-logo { display:table-cell; vertical-align:middle; font-size:22px; height:44px; line-height:44px; text-align:center; }
.m-header .header-icon { width:44px; font-size:22px; padding-top:0px; }
.m-header .header-icon a { display:block; color:#333333; }
.m-header .header-search { display:inline-block; padding:0 12px; padding-bottom:10px; width:100%; vertical-align:middle; }
.m-header .header-search form { padding:0px; margin-top:0px; border-bottom:2px solid #333333; background: #fff; border-radius:0px; }
.m-header .header-search input { background: #fff; height:36px; font-weight:bold; font-size:14px; color:#333; padding-left:0px; border:0px; box-shadow:none; }
.m-header .header-search .btn { color:#333333 !important; font-size:16px; padding:0 13px; padding-right:0px; border:0 !important; background: transparent !important; }
@media all and (max-width:991px) {
	.responsive .m-header { display:block; }
}

.s-m-header { display:none; background: #333333; }
.s-m-header a { color:#e52e02; }
.s-m-header .at-container { padding:5px; }
.s-m-header .header-logo { display:inline-block; vertical-align:middle; padding:0px; width:45px; text-align:center; font-family:"Helvetica", sans-serif; font-size:30px; }
.s-m-header .header-logo a { color:#fff; font-weight:bold; }
.s-m-header .header-search { display:inline-block; padding:0px; vertical-align:middle; width: calc(100% - 50px); }
.s-m-header .header-search form { padding:0px; margin:0; border:2px solid #333333; background: #fff; }
.s-m-header .header-search input { background: #fff; font-weight:bold; font-size:20px; color:#000; height:40px; border:0px; box-shadow:none; }
.s-m-header .header-search input::placeholder { font-weight:normal; color:lightgray; font-size:18px; }
.s-m-header .header-search .btn { font-size:15px; width:40px; height:40px; padding:5px; margin:0px; background:#fff; color:#333333; }
@media all and (max-width:991px) {
	.responsive .s-m-header { display:block; }
}

.btn-brex { }

/********************************************************
■ PC Menu : PC 메뉴바 배경설정
********************************************************/
.pc-menu { position:relative; background: #fff; border:0px; z-index:3; border-bottom:1px solid #cdcdcd !important; }
.pc-menu .at-container { position:relative; }
.pc-menu .sub-slide,
.pc-menu .sub-shows { display:none; visibility:visible; }
.pc-menu .sub-icon::after { font-family: "FontAwesome"; float: right; position: relative; content: "\f105"; }
.pc-menu .menu-a { font-size: 14px; font-family: "Titillium Web", "Noto Sans KR", sans-serif; }
.pc-menu .nav-home .menu-a { font-size: 20px;}
.pc-menu .nav-right { font-size:16px; } 
@media all and (max-width:991px) {
	.responsive .pc-menu,
	.responsive .pc-menu-all { display:none; }
}

/********************************************************
■ PC Menu Top : PC 상단 좌측/배분 스타일 메뉴
********************************************************/

/* 배분 스타일 */
.pc-menu .nav-top.nav-both .menu-ul { display:table; width:100%; table-layout:fixed; margin:0px; }
.pc-menu .nav-top.nav-both .menu-li { display:table-cell; vertical-align:top; }
.pc-menu .nav-top.nav-both .menu-a { padding:0px; text-align:center; }
.pc-menu .nav-top.nav-both .sub-1div::before { left: 50%; margin-left:-8px; }
.pc-menu .nav-top.nav-both .sub-1div { position:relative; }

/* 좌측 스타일 */
.pc-menu .nav-top.nav-float .menu-ul { }
.pc-menu .nav-top.nav-float .menu-li { float:left; }
.pc-menu .nav-top.nav-float .sub-1div { position:absolute; }

/* 공통 스타일 */
.pc-menu .nav-top { position:absolute; left:0px; top:0px; z-index:10; width:100%; }
.pc-menu .nav-top .menu-a { display:block; color:#333; background:#fff; font-weight:bold; border-bottom:1px solid #cdcdcd !important; }
.pc-menu .nav-top .menu-a:first-child { padding-left:0px !important; }
.pc-menu .nav-top .menu-li:hover .menu-a,
.pc-menu .nav-top .menu-li.on .menu-a { background:#fff; color:#333333; }
.pc-menu .nav-top .menu-li.nav-home { width:60px !important; text-align:center; }
.pc-menu .nav-top .menu-li.nav-home .menu-a { padding:0px; }
.pc-menu .nav-top .new { color: rgb(140, 195, 70);}
.pc-menu .nav-top .li-label { position:absolute; height:20px; width:40px; line-height:18px; top:-10px; left:50%; margin-left:-20px; background:#fff; border:1px solid orangered; border-radius:3px; color:orangered; text-align:center; }

.pc-menu .nav-top .sub-1div { margin-top:0px; background:#fff; box-shadow: 0 6px 12px rgba(0, 0, 0, .175); -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175); }
.pc-menu .nav-top .sub-1dul,
.pc-menu .nav-top .sub-1dli { position:relative;  }
.pc-menu .nav-top .sub-1da { display:block; color:#000; padding:5px 22px; line-height:22px; border-bottom: 1px solid rgb(238, 238, 238); }
.pc-menu .nav-top .sub-1dli.on .sub-1da,
.pc-menu .nav-top .sub-1dli:hover .sub-1da { color:#333333; font-weight:bold; background: ; border-color:; }
.pc-menu .nav-top .sub-1new { color: rgb(140, 195, 70);}
.pc-menu .nav-top .sub-1line { position:relative; display:block; color:#000; padding:5px 12px; font-weight:bold; background:#fafafa; line-height:22px; border-bottom: 1px solid rgb(238, 238, 238); }

.pc-menu .nav-top .sub-2div { left:100%; top:0; background: #fff; position:absolute; z-index:20; box-shadow: 0 6px 12px rgba(0, 0, 0, .175); -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175); } 
.pc-menu .nav-top .sub-2dul { }
.pc-menu .nav-top .sub-2dli { }
.pc-menu .nav-top .sub-2da { display:block; color:#000; padding:5px 12px; line-height:22px; border-bottom: 1px solid rgb(238, 238, 238); } 
.pc-menu .nav-top .sub-2dli.on .sub-2da,
.pc-menu .nav-top .sub-2dli:hover .sub-2da { color:#333333; font-weight:bold; background:; border-color:; }
.pc-menu .nav-top .sub-2new { color: rgb(140, 195, 70);}
.pc-menu .nav-top .sub-2line { display:block; color:#000; padding:5px 12px; font-weight:bold; background:#fafafa; line-height:22px; border-bottom: 1px solid rgb(238, 238, 238); }

/********************************************************
■ PC Right Icon Menu : PC 우측 아이콘 메뉴
********************************************************/
.pc-menu .nav-right { background:#fff; position:absolute; top:0px; right:0px; z-index:11; border-bottom:1px solid #cdcdcd !important; padding-top:15px; }
.pc-menu .nav-right > ul { float:right; list-style:none; padding:0px; margin:0px; }
.pc-menu .nav-right > ul > li { float:left; position:relative; width:42px; }
.pc-menu .nav-right > ul > li > a { color:#fff; display:block; text-align:center; }
.pc-menu .nav-right > ul > li > a:hover { background: #333; }
.pc-menu .nav-right .label { position: absolute; top: 15%; right: 7px; text-align: center; font-size: 9px; font-weight:300; padding: 2px 3px; line-height: 0.9; border-radius: .25em !important; }
.pc-menu .nav-rw { width:190px; }

/********************************************************
■ SUB Menu : SUB 메뉴바 배경설정
********************************************************/
.sub-menu { position:relative; background: #fff; border:0px; z-index:3; border-top:1px solid #ebebeb !important; border-bottom:1px solid #cdcdcd !important; }
.sub-menu .at-container { position:relative; }
.sub-menu .sub-slide,
.sub-menu .sub-shows { display:none; visibility:visible; }
.sub-menu .sub-icon::after { font-family: "FontAwesome"; float: right; position: relative; content: "\f105"; }
.sub-menu .menu-a { font-size: 13px; font-family: "Titillium Web", "Noto Sans KR", sans-serif; }
.sub-menu .nav-home .menu-a { font-size: 20px;}
.sub-menu .nav-right { font-size:16px; } 
@media all and (max-width:991px) {
	.responsive .sub-menu,
	.responsive .sub-menu-all { display:none; }
}

/********************************************************
■ SUB Menu Top : SUB 상단 좌측/배분 스타일 메뉴
********************************************************/

/* 배분 스타일 */
.sub-menu .nav-top.nav-both .menu-ul { display:table; width:100%; table-layout:fixed; margin:0px; }
.sub-menu .nav-top.nav-both .menu-li { display:table-cell; vertical-align:top; }
.sub-menu .nav-top.nav-both .menu-a { padding:0px; text-align:center; }
.sub-menu .nav-top.nav-both .sub-1div::before { left: 50%; margin-left:-8px; }
.sub-menu .nav-top.nav-both .sub-1div { position:relative; }

/* 좌측 스타일 */
.sub-menu .nav-top.nav-float .menu-ul { }
.sub-menu .nav-top.nav-float .menu-li { float:left; }
.sub-menu .nav-top.nav-float .sub-1div { position:absolute; }

/* 공통 스타일 */
.sub-menu .nav-top { position:absolute; left:0px; top:0px; z-index:10; width:100%; }
.sub-menu .nav-top .menu-a { display:block; color:#333; background:#fff; font-weight:bold; }
.sub-menu .nav-top .menu-li:first-child { padding-left:0px !important; }
.sub-menu .nav-top .menu-li.on .menu-a { border-bottom:2px solid #333333; background:#fff; color:#333333; }
.sub-menu .nav-top .menu-li.nav-home { width:60px !important; text-align:center; }
.sub-menu .nav-top .menu-li.nav-home .menu-a { padding:0px; }
.sub-menu .nav-top .new { color: rgb(140, 195, 70);}

.sub-menu .nav-top .sub-1div { margin-top:1px; background:#fff; box-shadow: 0 6px 12px rgba(0, 0, 0, .175); -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175); }
.sub-menu .nav-top .sub-1dul,
.sub-menu .nav-top .sub-1dli { position:relative;  }
.sub-menu .nav-top .sub-1da { display:block; color:#000; padding:5px 22px; line-height:22px; border-bottom: 1px solid rgb(238, 238, 238); }
.sub-menu .nav-top .sub-1dli.on .sub-1da,
.sub-menu .nav-top .sub-1dli:hover .sub-1da { color:#333333; font-weight:bold; background: ; border-color:; }
.sub-menu .nav-top .sub-1new { color: rgb(140, 195, 70);}
.sub-menu .nav-top .sub-1line { position:relative; display:block; color:#000; padding:5px 12px; font-weight:bold; background:#fafafa; line-height:22px; border-bottom: 1px solid rgb(238, 238, 238); }

.sub-menu .nav-top .sub-2div { left:100%; top:0; background: #fff; position:absolute; z-index:20; box-shadow: 0 6px 12px rgba(0, 0, 0, .175); -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175); } 
.sub-menu .nav-top .sub-2dul { }
.sub-menu .nav-top .sub-2dli { }
.sub-menu .nav-top .sub-2da { display:block; color:#000; padding:5px 12px; line-height:22px; border-bottom: 1px solid rgb(238, 238, 238); } 
.sub-menu .nav-top .sub-2dli.on .sub-2da,
.sub-menu .nav-top .sub-2dli:hover .sub-2da { color:#333333; font-weight:bold; background:; border-color:; }
.sub-menu .nav-top .sub-2new { color: rgb(140, 195, 70);}
.sub-menu .nav-top .sub-2line { display:block; color:#000; padding:5px 12px; font-weight:bold; background:#fafafa; line-height:22px; border-bottom: 1px solid rgb(238, 238, 238); }

/********************************************************
■ SUB Right Icon Menu : SUB 우측 아이콘 메뉴
********************************************************/
.sub-menu .nav-right { background:#fff; position:absolute; top:0px; right:0px; z-index:11; padding-top:15px; }
.sub-menu .nav-right > ul { float:right; list-style:none; padding:0px; margin:0px; }
.sub-menu .nav-right > ul > li { float:left; position:relative; width:42px; }
.sub-menu .nav-right > ul > li > a { color:#fff; display:block; text-align:center; }
.sub-menu .nav-right > ul > li > a:hover { background: #333; }
.sub-menu .nav-right .label { position: absolute; top: 15%; right: 7px; text-align: center; font-size: 9px; font-weight:300; padding: 2px 3px; line-height: 0.9; border-radius: .25em !important; }
.sub-menu .nav-rw { width:290px; }

/********************************************************
■ S Menu : S 메뉴바 배경설정
********************************************************/
.s-menu { position:relative; background: #fff; border:0px; z-index:3; border-top:1px solid #ebebeb !important; border-bottom:1px solid #cdcdcd !important; }
.s-menu .at-container { position:relative; }
.s-menu .sub-slide,
.s-menu .sub-shows { display:none; visibility:visible; }
.s-menu .sub-icon::after { font-family: "FontAwesome"; float: right; position: relative; content: "\f105"; }
.s-menu .menu-a { font-size: 13px; font-family: "Titillium Web", "Noto Sans KR", sans-serif; }
.s-menu .nav-home .menu-a { font-size: 20px;}
.s-menu .nav-right { font-size:16px; } 
@media all and (max-width:991px) {
	.responsive .s-menu,
	.responsive .s-menu-all { display:none; }
}

/********************************************************
■ S Menu Top : S 상단 좌측/배분 스타일 메뉴
********************************************************/

/* 배분 스타일 */
.s-menu .nav-top.nav-both .menu-ul { display:table; width:100%; table-layout:fixed; margin:0px; }
.s-menu .nav-top.nav-both .menu-li { display:table-cell; vertical-align:top; }
.s-menu .nav-top.nav-both .menu-a { padding:0px; text-align:center; }
.s-menu .nav-top.nav-both .sub-1div::before { left: 50%; margin-left:-8px; }
.s-menu .nav-top.nav-both .sub-1div { position:relative; }

/* 좌측 스타일 */
.s-menu .nav-top.nav-float .menu-ul { }
.s-menu .nav-top.nav-float .menu-li { float:left; }
.s-menu .nav-top.nav-float .sub-1div { position:absolute; }

/* 공통 스타일 */
.s-menu .nav-top { position:absolute; left:0px; top:0px; z-index:10; width:100%; }
.s-menu .nav-top .menu-a { display:block; color:#333; background:#fff; font-weight:bold; }
.s-menu .nav-top .menu-li:first-child { padding-left:0px !important; }
.s-menu .nav-top .menu-li.on .menu-a { border-bottom:2px solid #333333; background:#fff; color:#333333; }
.s-menu .nav-top .menu-li.nav-home { width:60px !important; text-align:center; }
.s-menu .nav-top .menu-li.nav-home .menu-a { padding:0px; }

/********************************************************
■ S Right Icon Menu : SUB 우측 아이콘 메뉴
********************************************************/
.s-menu .nav-right { background:#fff; position:absolute; top:0px; right:0px; z-index:11; padding-top:20px; }
.s-menu .nav-right > ul { float:right; list-style:none; padding:0px; margin:0px; }
.s-menu .nav-right > ul > li { float:left; position:relative; width:42px; }
.s-menu .nav-right > ul > li > a { color:#fff; display:block; text-align:center; }
.s-menu .nav-right > ul > li > a:hover { background: #333; }
.s-menu .nav-right .label { position: absolute; top: 15%; right: 7px; text-align: center; font-size: 9px; font-weight:300; padding: 2px 3px; line-height: 0.9; border-radius: .25em !important; }
.s-menu .nav-rw { width:190px; }

/********************************************************
■ Mobile Menu : 모바일 메뉴
********************************************************/
.m-menu { display:none; overflow:hidden; background:#fff; position:relative; z-index:20; }
.m-menu .m-wrap { }
.m-menu .m-table { display:table; width:100%; table-layout:fixed; width:100%; margin:0px; min-width:300px; border-collapse: collapse; }
.m-menu .m-icon, 
.m-menu .m-list { display:table-cell; vertical-align:middle; font-size:15px; height:44px; line-height:44px; border:0px solid #eee; border-top:0px; border-bottom:0px; }
.m-menu .m-icon { width:44px; text-align:center; font-size:18px; }
.m-menu .m-icon a { display:block; position:relative; }
.m-menu .m-icon .label { position: absolute; top: 15%; right: 5px; text-align: center; font-size: 9px; font-weight:300; padding: 2px 3px; line-height: 0.9; border-radius: .25em !important;  }
.m-menu .m-nav { overflow: hidden; margin:0px 15px 0px 5px; }
.m-menu .m-nav ul { list-style: none; margin:0px; padding:0px; }
.m-menu .m-nav ul li { display:table-cell; padding:0px 10px; white-space:nowrap; }
.m-menu .m-nav ul li a { padding:12px 0px; }
.m-menu .m-nav ul li a { font-weight:bold; }
.m-menu .m-nav ul li a:hover { color: #333333; }
.m-menu .m-nav ul li.active a { color: #333333; border-bottom:2px solid #333333; font-weight:bold; }

.m-menu .m-sub { background:#fff; border-top:1px solid #ddd; border-bottom:1px solid #ddd; font-size:13px; height:36px; line-height:36px; padding:0px; }
.m-menu .m-nav-sub { width:100%; overflow: hidden; margin:0px; }
.m-menu .m-nav-sub ul { list-style: none; margin:0px; padding:0px; }
.m-menu .m-nav-sub ul li { display:table-cell; padding: 0px 10px; white-space:nowrap; }
.m-menu .m-nav-sub ul li.active a { color: #333333; font-weight:bold; }
.m-menu .m-nav-sub ul li a:hover { color: #333333; }
@media all and (max-width:991px) {
	.responsive .m-menu { display:block; }
}

/********************************************************
■ S Mobile Menu : 모바일 메뉴
********************************************************/
.s-m-menu { display:none; overflow:hidden; background:#fff; position:relative; z-index:20; }
.s-m-menu .m-wrap { }
.s-m-menu .m-table { display:table; width:100%; table-layout:fixed; width:100%; margin:0px; min-width:300px; border-collapse: collapse; }
.s-m-menu .m-list { display:table-cell; vertical-align:middle; font-size:15px; height:44px; line-height:44px; border:0px solid #eee; border-top:0px; border-bottom:0px; }
.s-m-menu .m-nav { overflow: hidden; margin:0px 15px 0px 5px; }
.s-m-menu .m-nav ul { list-style: none; margin:0px; padding:0px; }
.s-m-menu .m-nav ul li { display:table-cell; padding:0px 10px; white-space:nowrap; }
.s-m-menu .m-nav ul li a { font-weight:bold; padding:12px 0px; }
.s-m-menu .m-nav ul li a:hover { color:#333333 }
.s-m-menu .m-nav ul li.active a { color: #333333; border-bottom:2px solid #333333; font-weight:bold; }
.s-m-menu .m-nav ul li.active { }
@media all and (max-width:991px) {
	.responsive .s-m-menu { display:block; }
}

/********************************************************
■ Page Title : 페이지 타이틀 및 설명글
********************************************************/
.at-title { height:80px; position:relative; color:#000; background-color: #fafafa; border-bottom:1px solid #dfdfdf; }
.at-title .at-container { height:100%; position:relative; }
.at-title .page-title { font-size:24px; position:absolute; left:20px; bottom:15px; z-index:1; }
.at-title .page-desc { color:#888; position:absolute; right:20px; bottom:10px; z-index:1; }
@media all and (max-width:767px) {
	.responsive .at-title { height:50px; }
	.responsive .at-title .page-title { font-size:20px; left:15px; bottom:10px; }
}

/********************************************************
■ Footer : 하단 푸터
********************************************************/
.en .at-footer .at-links { font-size:12px; }
.at-footer .pc-footer .at-links { background:#fff; padding:8px 0px; border:1px solid #ddd; border-left:0; border-right:0; }
.at-footer .m-footer .at-links { padding:8px 0px; padding-bottom:4px; border:0px; }
.at-footer .at-links ul { list-style: none; margin: 0px; padding:0px; }
.at-footer .pc-footer .at-links ul > li { float: left; padding: 0px 15px; }
.at-footer .m-footer .at-links ul > li { float:left; padding:0px 10px; background:#4a4a4a; border:1px solid #2a2a2a; }
.at-footer .pc-footer .at-links ul > li::after { float: right; color:#ebebeb; content: "|"; margin-right:-17px;}
.at-footer .at-links ul > li:last-child::after { content: ""; }
.at-footer .pc-footer .at-links ul > li > a { color: #727272; }
.at-footer .m-footer .at-links ul > li > a { color: #bfbfbf; font-size:13px; font-weight:normal; }
@media all and (max-width:991px) {
	.responsive .at-footer { background:#414141; padding-top:7px; }
	.responsive .at-footer .at-links ul.pull-left { float:none !important; text-align:center !important; }
	.responsive .at-footer .at-links ul.pull-left > li { float:none; display:inline-block; }
	.responsive .at-footer .at-links ul.pull-left li { border:0px; padding:0px; background:none; }
	.responsive .at-footer .at-links ul.pull-left li a { color:#bfbfbf; font-weight:bold; }
	.responsive .at-footer .at-links ul.pull-right { float:none !important; text-align:center; }
	.responsive .at-footer .at-links ul.pull-right > li { float:none; display:inline-block; }
}

/* YC5 */
.en .at-footer .at-infos { font-size:12px; }
.at-footer .at-infos .media { padding:15px 20px 20px; }
.at-footer .at-infos .pull-left { font-size:70px; color:#ddd; }
.at-footer .at-infos .copyright { float:left; margin-left:10px; }
.at-footer .at-infos .copyright strong { color:#fff; }
.at-footer .at-infos .copyright span { color:#888; }
.at-footer .at-about { list-style: none; margin:0px; padding:0px; }
.at-footer .at-about > li { float: left; padding: 0px 15px; color:#888; }
.at-footer .at-about > li > a { color: #888; }
.at-footer .at-help { list-style: none; margin: 0px; padding:0px; margin-bottom:5px; }
.at-footer .at-help:after {display:block;visibility:hidden;clear:both;content:""}
.at-footer .at-help > li { float: left; padding: 0px 15px; }
.at-footer .at-help > li::after { float: right; font-size:12px; color:#ddd; content: "|"; margin-right:-17px;}
.at-footer .at-help > li:last-child::after { content: ""; }
.at-footer .at-help > li > a { float: left; }
@media all and (max-width:767px) {
	.responsive .at-footer .at-infos .media { padding:15px 0px 20px; text-align:center; }
	.responsive .at-footer .at-infos .copyright { float:none; margin:0px; }
}

/* G5 */
.at-footer .pc-footer .at-copyright { text-align:center; padding:15px 0px; color:#888; }
.at-footer .m-footer .at-copyright { text-align:center; padding:0px 0px 15px 0px; color:#bfbfbf; font-size:11px; }
.at-footer .at-copyright strong { color:#333; }

/********************************************************
■ Go Top & Bottom : 상단/하단 이동버튼
********************************************************/
.at-go .go-btn { display:none; position: fixed; width:40px; bottom: 20px; right: 25px; z-index: 2; }
.at-go .go-btn span { display: block; color:#fff; background: rgba(0,0,0,0.5); margin:5px 0px; text-align: center; border-radius: 50%; width: 42px; height: 42px; line-height: 42px !important; font-size: 19px; }
.at-go .go-btn .go-bottom { display:none; }
@media (max-width: 768px) {
	.at-go .go-btn { bottom:0px; right:5px; }
}

/********************************************************
■ Bootstrap3 : 부트스트랩 기본속성
********************************************************/
/* Button */
.btn { font-family: "Titillium Web", "Noto Sans KR", sans-serif; }
.btn-lg { padding: 10px 16px; border-radius:3px; line-height: 1.33; font-size: 18px; }
.btn-lg i {	top: 3px; font-size: 24px; position: relative; }
.btn-xs { padding: 4px 10px; }
.is-pc .ko .btn-xs,
.is-pc .ko .btn-sm { font-family:"Titillium Web", "Noto Sans KR", sans-serif; }

.btn-brex-2nd { background:#333; color:#fff; border-color:#333; border-radius:0px; }
.btn-brex-2nd:hover { background:#333; color:#fff; border-color:#333; border-radius:0px; }

/* Panel : Accordions */
.panel { box-shadow: none; -webkit-box-shadow: none; border-radius: 0px; }
.panel-group .panel { border-radius: 0px; }
.panel .panel-heading { border-radius: 0px; }
.is-pc .ko .panel .panel-body { font-size:12px; }

/* List Group */
.list-group-item { word-break:break-all; border-radius:0 !important; }

/* Pagination */
.pagination { font-family: "Roboto", sans-serif; }
.pagination li a { border-radius:0 !important; color:#333 !important; }
.pagination li.active a { color:#fff !important; background:#444 !important; border-color:#444 !important; }

/* Progress */
.progress { position:relative; border-radius: 0px; height: 28px; overflow: hidden; margin-bottom: 15px; box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1); background-color: rgb(245, 245, 245); -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); }
.progress .sr-only { font-family: "Titillium Web", "Noto Sans KR", sans-serif; margin: 0px 15px; left: 0px; width: auto; height: 28px; line-height: 28px; font-size: 12px; clip: auto; }
.sr-score { font-family: "Titillium Web", "Noto Sans KR", sans-serif; height: 28px; line-height: 28px; font-size: 12px; padding-right:8px; }

/* Misc */
.form-control, .well, .alert, .input-group-addon, .label { border-radius:0 !important; }
.over-user { position:absolute; z-index:1; top:120px; left:0; background:#fff; border:1px solid #ddd; border-top:0; width:100%; height:201px; overflow-y:auto; }
.over-user1 { position:absolute; top:62px; right:0; background:#fff; border:1px solid #ccc; z-index:9999; width:290px; height:250px; overflow-y:auto; }
.in-add { padding:0px; }
.close-over-user { position:absolute; z-index:9999; top:312px; right:0; background:#fafafa; border:1px solid #ccc; border-top:0; width:290px; height:30px; }
.close-over-user1 { cursor:pointer; text-align:center; color:#333; font-size:13px; padding:3px 0; }
.close-over-user1:hover { text-decoration:underline; }

.badge-dc { line-height:40px !important; background:#fff !important; border:2px solid #333333 !important; }

.head-alarm-icon { position:absolute; top:3px; left:25px; background:#333333; text-align:center; padding:0px !important; border:2px solid #fff; !important; border-radius:50%; line-height:18px; width:22px; height:22px; font-size:12px !important; color:#fff; }
.head-memo-icon { position:absolute; top:3px; right:25px; background:red; text-align:center; padding:0px !important; border:2px solid #fff; !important; border-radius:50%; line-height:18px; width:22px; height:22px; font-size:12px !important; color:#fff; }
.head-cart-icon { position:absolute; top:3px; right:23px; background:red; text-align:center; padding:0px !important; border:2px solid #fff; !important; border-radius:50%; line-height:18px; width:22px; height:22px; font-size:12px !important; color:#fff; }

.swipe10 { width:100%; }
.swipe10 .swiper-tab { width: 100%; background:#fff; }
.swipe10 .swiper-tab .active { color:#333333; border-bottom:3px solid #333333; }
.swipe10 .swiper-tab .swiper-slide { text-align:center; cursor:pointer; padding:10px 4px 5px 4px !important; font-weight:bold; font-size:15px; }
.swipe10 .swiper-body { width: 100%; } 
.swipe10 .swiper-body .swiper-slide { width:100%; }

.swipe20 { border:1px solid #ddd; width:100%; }
.swipe20 .swiper-tab { width: 100%; background:#fff; border-bottom:1px solid #ddd; }
.swipe20 .swiper-tab .active { color:#33333; border-bottom:3px solid #33333; }
.swipe20 .swiper-tab .swiper-slide { text-align:center; cursor:pointer; padding:13px 0px 8px 0px !important; font-weight:bold; font-size:13px; }
.swipe20 .swiper-body { background:#fff; width: 100%; } 
.swipe20 .swiper-body .swiper-slide { padding:15px; width:100%; }

/********************************************************
■ Shop LNB : 최상단의 즐겨찾기, RSS, 로그인, 회원가입 영역
********************************************************/
.shop-lnb { 
background: #333333;
background: linear-gradient(to right, #333333, #7f85db);
background: -webkit-linear-gradient(to right, #333333, #7f85db);
background: -moz-linear-gradient(to right, #333333, #7f85db);
background: -o-linear-gradient(to right, #333333, #7f85db);
box-shadow: 0 6px 12px rgba(0, 0, 0, .175); -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.en .shop-lnb { font-size:11px; }
.shop-lnb ul { list-style: none; margin: 0px; padding:7px 0px; }
.shop-lnb ul > li { float: left; padding: 0px 7px; padding-bottom:3px; }
.shop-lnb ul > li > a { color: #fff; float:left; font-size:11px; }
.shop-lnb .pull-left ul > li:first-child { padding-left:0px; }
.shop-lnb .pull-right ul > li:last-child { padding-right:0px; }
@media all and (max-width:991px) {
	.responsive .shop-lnb .at-container { display:none; visibility:visible; }
}

/********************************************************
■ Shop Header : SUB 헤더 
********************************************************/
/*.shop-header { position:relative; padding:0px; text-align:left; 
background: #333333;
background: linear-gradient(to right, #333333, #7f85db);
background: -webkit-linear-gradient(to right, #333333, #7f85db);
background: -moz-linear-gradient(to right, #333333, #7f85db);
background: -o-linear-gradient(to right, #333333, #7f85db);
}
.shop-header .at-container { padding:0px; }
.shop-header .header-control { padding:15px 0px; }
.shop-header .header-logo { display:inline-block; vertical-align:middle; padding-top:4px; padding-right:15px; }
.shop-header .header-logo a { font-size:32px; line-height:32px; font-family: "Helvetica", sans-serif; font-weight:bold; color:#fff; }
.shop-header .header-logo a:hover { color:#fff; }
.shop-header .header-logo img { display:block; max-width:100%; max-height:60px; }
.shop-header .header-search { display:inline-block; width:420px; vertical-align:middle; }
.shop-header .header-search form { padding:0px; margin-top:0px; height:36px; border:2px solid #fff; background: #fff; }
.shop-header .header-search input { background: #fff; box-shadow:none; height:34px; border:0px solid #e52e02; font-size:16px; font-weight:bold; padding:0px 10px; }
.shop-header .header-search .btn { color:#333333 !important; font-size:15px; padding:0px 12px; background: #fff !important; }
.shop-header .header-search .input-group-btn > .btn { margin-left:0px !important; }
.shop-header .header-right { }
.shop-header .header-right ul { padding:0; margin:0; list-style:none; }
.shop-header .header-right ul > li { float:left; padding:0 10px; font-size:14px; font-weight:bold; }
.shop-header .header-right ul > li:last-child { padding-right:0px; }
.shop-header .header-right ul > li > a { color:#fff; line-height:66px; }
.shop-header .header-right img { margin-left:0px; }
.shop-header .header-right .header-right-icon { font-size:16px; color:#fff; }
.shop-header .header-right .header-right-icon .btn { padding:0px; margin:0px; }
.shop-header .header-keyword { display:inline-block; vertical-align:middle; padding-left:15px; }
.en .shop-header .header-keyword { font-size:12px; }
@media all and (max-width:991px) {
	.responsive .shop-header { display:none; }
}
.shop-header .header-line { position:absolute; top:0; left:0; z-index:1; width:100%; height:1px; background:#000; opacity:0.1; }
.shop-header .header-line-2nd { position:absolute; top:1px; left:0; z-index:1; width:100%; height:1px; background:#fff; opacity:0.1; }
*/
/********************************************************
■ Shop Menu : Shop 메뉴바 배경설정
********************************************************/
.shop-menu { position:relative; background: #fff; border:0px; z-index:3; border-top:1px solid #ebebeb !important; border-bottom:1px solid #cdcdcd !important; }
.shop-menu .at-container { position:relative; }
.shop-menu .sub-slide,
.shop-menu .sub-shows { display:none; visibility:visible; }
.shop-menu .sub-icon::after { font-family: "FontAwesome"; float: right; position: relative; content: "\f105"; }
.shop-menu .menu-a { font-size: 14px; padding-top:5px !important; font-family: "Titillium Web", "Noto Sans KR", sans-serif; }
.shop-menu .nav-home .menu-a { font-size: 14px;}
.shop-menu .nav-right { font-size:16px; } 
@media all and (max-width:991px) {
	.responsive .shop-menu,
	.responsive .shop-menu-all { display:none; }
}

/********************************************************
■ Shop Menu Top : SUB 상단 좌측/배분 스타일 메뉴
********************************************************/

/* 배분 스타일 */
.shop-menu .nav-top.nav-both .menu-ul { display:table; width:100%; table-layout:fixed; margin:0px; }
.shop-menu .nav-top.nav-both .menu-li { display:table-cell; vertical-align:top; }
.shop-menu .nav-top.nav-both .menu-a { padding:0px; text-align:center; }
.shop-menu .nav-top.nav-both .sub-1div::before { left: 50%; margin-left:-8px; }
.shop-menu .nav-top.nav-both .sub-1div { position:relative; }

/* 좌측 스타일 */
.shop-menu .nav-top.nav-float .menu-ul { }
.shop-menu .nav-top.nav-float .menu-li { float:left; }
.shop-menu .nav-top.nav-float .sub-1div { position:absolute; }

/* 공통 스타일 */
.shop-menu .nav-top { position:absolute; left:0px; top:0px; z-index:10; width:100%; }
.shop-menu .nav-top .menu-a { display:block; color:#333; background:#fff; font-weight:bold; }
.shop-menu .nav-top .menu-li:first-child { padding-left:0px !important; }
.shop-menu .nav-top .menu-li.on .menu-a { border-bottom:2px solid #333333; background:#fff; color:#333333; }
.shop-menu .nav-top .menu-li.nav-home { text-align:center; }
.shop-menu .nav-top .menu-li.nav-home .menu-a { padding:0px; }
.shop-menu .nav-top .new { color: rgb(140, 195, 70);}

.shop-menu .nav-top .sub-1div { margin-top:1px; background:#fff; box-shadow: 0 6px 12px rgba(0, 0, 0, .175); -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175); }
.shop-menu .nav-top .sub-1dul,
.shop-menu .nav-top .sub-1dli { position:relative;  }
.shop-menu .nav-top .sub-1da { display:block; color:#000; padding:5px 22px; line-height:22px; border-bottom: 1px solid rgb(238, 238, 238); }
.shop-menu .nav-top .sub-1dli.on .sub-1da,
.shop-menu .nav-top .sub-1dli:hover .sub-1da { color:#333333; font-weight:bold; background: ; border-color:; }
.shop-menu .nav-top .sub-1new { color: rgb(140, 195, 70);}
.shop-menu .nav-top .sub-1line { position:relative; display:block; color:#000; padding:5px 12px; font-weight:bold; background:#fafafa; line-height:22px; border-bottom: 1px solid rgb(238, 238, 238); }

.shop-menu .nav-top .sub-2div { left:100%; top:0; background: #fff; position:absolute; z-index:20; box-shadow: 0 6px 12px rgba(0, 0, 0, .175); -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175); } 
.shop-menu .nav-top .sub-2dul { }
.shop-menu .nav-top .sub-2dli { }
.shop-menu .nav-top .sub-2da { display:block; color:#000; padding:5px 12px; line-height:22px; border-bottom: 1px solid rgb(238, 238, 238); } 
.shop-menu .nav-top .sub-2dli.on .sub-2da,
.shop-menu .nav-top .sub-2dli:hover .sub-2da { color:#333333; font-weight:bold; background:; border-color:; }
.shop-menu .nav-top .sub-2new { color: rgb(140, 195, 70);}
.shop-menu .nav-top .sub-2line { display:block; color:#000; padding:5px 12px; font-weight:bold; background:#fafafa; line-height:22px; border-bottom: 1px solid rgb(238, 238, 238); }

/********************************************************
■ shop Right Icon Menu : shop 우측 아이콘 메뉴
********************************************************/
.shop-menu .nav-right { background:#fff; position:absolute; top:0px; right:0px; z-index:11; padding-top:10px; }
.shop-menu .nav-right > ul { float:right; list-style:none; padding:0px; margin:0px; }
.shop-menu .nav-right > ul > li { float:left; position:relative; width:42px; }
.shop-menu .nav-right > ul > li > a { color:#fff; display:block; text-align:center; }
.shop-menu .nav-right > ul > li > a:hover { background: #333; }
.shop-menu .nav-right .label { position: absolute; top: 15%; right: 7px; text-align: center; font-size: 9px; font-weight:300; padding: 2px 3px; line-height: 0.9; border-radius: .25em !important; }
.shop-menu .nav-rw { width:290px; }

.shop-main { height:320px;
background: #e7e7e7;
background: linear-gradient(to right, #333 0, #333 50%, #e7e7e7 50%, #e7e7e7 100%);
overflow:hidden;
}
.shop-main-bg { position:relative; height:320px; overflow:hidden;
background: #e7e7e7;
background: linear-gradient(to right, #333 0, #333 720px, #e7e7e7 720px, #e7e7e7 100%);
}
.shop-main-bg.at-container { padding:0px; }
